* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  text-align: center;
  height:100%;
  width:100%;
}

input, textarea {
  display: block;
  width:100%;
  text-align: center;
}
.blogContent {
  height: 20em;
  text-align: left;
}

.blogContainer {
  border:1px solid black;
}
